@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
             <form id="data" method="post" enctype="multipart/form-data">
                    <label for="FileName" class="form-label"></label>
                    <input class="form-control" type="file" id="FileName">
                </form>
        </div>
        <div class="row">
            <button style="margin: 12px" class="btn btn-primary col-4" id="btnSubmit">Upload</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#btnSubmit").click(function(e) {
            var formData = new FormData(document.forms.item(0));
            let file = $('#FileName').prop("files")[0];
            formData.append('file', file);
             e.preventDefault();
            $.ajax({
                url:"@Url.Action("Upload", "Home")",
                type: 'POST',
                   data: formData,
                   cache: false,
                   contentType: false,
                   processData: false,
                   success: (res) => {
                      alert("Uploaded")
                      $('#FileName').val("")
                   },
                   error:(res)=>{
                      alert(res.responseJSON.title)
                        $('#FileName').val("")
                    }
            });
        });
    </script>
}